@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome To Jokes Application</h1>
    <h3>About Our Jokes Posting Website</h3>
    <p>Welcome to our laughter-filled corner of the internet!</p>

    <p>Here at our jokes posting website, we're dedicated to spreading joy, one chuckle at a time.</p>

    <p>Our team scours the universe (or at least the web) for the most rib-tickling, knee-slapping jokes imaginable.</p>

    <p>Whether you're into witty one-liners, clever puns, or side-splitting anecdotes, we've got you covered.</p>

    <p>Join our community of joke enthusiasts, and let's share the joy of laughter together!</p>

    <p class="quote">"Because we believe that laughter is the best medicine!"</p>
</div>


