@{
    ViewData["Title"] = "Privacy";
}
<body>
    <header>
        <h1>Privacy Policy</h1>
    </header>

    <div class="container">
        <h2>Introduction</h2>
        <p>This is the Privacy Policy for Jokes App.</p>
        <p>It explains how we collect, use,</p>
        <p>and disclose personal information.</p>

        <h2>Information Collection and Use</h2>
        <p>We collect and use personal information for diplaying your jokes to other users</p>

        <h2>Disclosure of Information</h2>
        <p>We may disclose personal information like your email id for the users to identify which person posted the joke.</p>

        <h2>Contact Us</h2>
        <p>If you have any questions about this Privacy Policy, please contact us at admin@jokesapp.com.</p>
    </div>

    <footer>
        <p>&copy; 2024 [Your Company Name]</p>
    </footer>
</body>
</html>

